* { box-sizing: border-box;}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #eeeeee;

}

.head {
    background: #0092ca;
    padding: 0 1rem 0 1rem;
}
.menu_nav
{
    max-width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;

}

.menu_nav a {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 60px;
    min-height: 50px;
   
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    transition: 0.4s;
    
}

.menu-all {
    background: #393e46;
    display: flex;
    flex-direction: column;
    min-width: 300px;

    position: fixed;
    right: 0;
    padding: 0.5rem;
    border-bottom-left-radius: 5px;

    box-shadow: 10px 4px 5px 3px rgb(0, 0, 0,0.3);

    color: #eeeeee;
    z-index: 99;
}

.menu-all a {
    padding: 2rem;
    border-radius: 5px;
    transition: 0.5s;
    font-size: larger;
    font-weight: bold;
}
 /* hoveres  */

 a:hover
 {
    background: #393e46;
    color: rgb(255, 254, 254);
    
 }

 .menu-all a:hover
 {
    background: black;
 }
 


 .hidden {
    display: none !important;

 }


 /* body  */

 .main {
    max-width: 95%;
    margin: auto;
    padding: 20px;
 }

 .notegrid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px,1fr));
    gap: 10px;
 }

 .note {

    min-height: 200px;
    border-radius: 5px;
    background-color: #393e46;

    padding: 10px;

    color: #eeeeee;

 }

 
 .note .cardheader {
     text-align: center;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
}

.note .cardheader .noteTitle
{
    padding: 0;
    margin: 0;
    font-weight:bold ;
    text-transform: capitalize;
    font-family: cursive;
    font-style: oblique;
    padding-top: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: ridge #0092ca 2px;
    border-bottom: ridge 2px #0092ca;
    border-top: ridge #0092ca 2px;
}
.note .Cardbody {
    
    border-top-right-radius: 25px;
    border: #0092ca ridge 2px;
    border-bottom: none;
    border-left: none;
    padding: 0 10px;
    font-weight: bold;
    

}

.handle {
    align-self: flex-end;

    font-size: x-large;
    padding-bottom: 5pxq;
}

.edit 
{
    color: #0092ca;
    padding: 5px;
    border-radius: 5px;
}

.delete 
{
    color: #ca0000;
    padding: 5px;
    border-radius: 5px;
}



/* create button */

.btn-create {
    
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;

    min-height: 50px;
    min-width: 50px;
    background: #0092ca;
    border-radius: 50%;

    transition: 0.5s;
}

.btn-create:hover {
    transform:scale(1.5);
}

/* formulario  */

.modal-form {
    background: rgb(0, 0, 0,0.3);
   
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-radius: 5px;
    z-index: 999;
    background: #eeeeee;
    min-height: 25%;
    min-width: 25%;
    color: black;

    box-shadow: 4px 5px 3px rgb(0, 0, 0,0.3);
    
}

label {
    margin: 0.5rem 0;
}

.formS {
    padding: 1rem 1rem;
    background: #0091ca6e;
    font-weight:bold;
    border: ridge 1px #0091ca50;
    border-radius: 5px;
}

.blur {
    filter: blur(4px);
}
